<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @(string.IsNullOrEmpty(ViewBag.PageTitle) ? "Parliament Calander" : ViewBag.PageTitle);
    </title>
    <link href="~/Resources/css/@(HttpContext.Current.IsDebuggingEnabled ? "style.css" : "style.min.css")" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="@(HttpContext.Current.IsDebuggingEnabled ? "https://cdn.jsdelivr.net/npm/vue/dist/vue.js":"https://cdn.jsdelivr.net/npm/vue")"></script>
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")" title="Back to home page" class="logo">
            <img src="~/Assets/Images/Crowned_Portcullis.svg" title="Parliament logo" class="logo-img" />
            <h1>House of Commons</h1>
        </a>
    </header>
    <div id="content">
        @RenderBody()
    </div>
    <footer>
        @RenderSection("footer", required: false)
        @if (IsSectionDefined("footer"))
        {
            <hr />
        }
        <p class="text-center">Website developed for PDS application.</p>
    </footer>
</body>
</html>
